$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$cd-ic-activity: "\e900";
$cd-ic-add-user: "\e901";
$cd-ic-alert-circle: "\e902";
$cd-ic-alert-square: "\e903";
$cd-ic-alert-triangle: "\e904";
$cd-ic-arrow-down: "\e905";
$cd-ic-arrow-left: "\e906";
$cd-ic-arrow-right: "\e907";
$cd-ic-arrow-up: "\e908";
$cd-ic-audio-low: "\e909";
$cd-ic-audio-off: "\e90a";
$cd-ic-audio-on: "\e90b";
$cd-ic-bag: "\e90c";
$cd-ic-bell: "\e90d";
$cd-ic-bookmark: "\e90e";
$cd-ic-briefcase: "\e90f";
$cd-ic-calendar: "\e910";
$cd-ic-call-missed: "\e911";
$cd-ic-call-silent: "\e912";
$cd-ic-calling: "\e913";
$cd-ic-caret-down: "\e914";
$cd-ic-caret-left: "\e915";
$cd-ic-caret-right: "\e916";
$cd-ic-caret-up: "\e917";
$cd-ic-chart: "\e918";
$cd-ic-check-shield: "\e919";
$cd-ic-check-square: "\e91a";
$cd-ic-close-square: "\e91b";
$cd-ic-compass: "\e91c";
$cd-ic-discount: "\e91d";
$cd-ic-document: "\e91e";
$cd-ic-down-circle: "\e91f";
$cd-ic-down-square: "\e920";
$cd-ic-download: "\e921";
$cd-ic-edit-square: "\e922";
$cd-ic-edit: "\e923";
$cd-ic-envelope: "\e924";
$cd-ic-filter: "\e925";
$cd-ic-folder: "\e926";
$cd-ic-game: "\e927";
$cd-ic-graph: "\e928";
$cd-ic-heart: "\e929";
$cd-ic-hide: "\e92a";
$cd-ic-home: "\e92b";
$cd-ic-image-full: "\e92c";
$cd-ic-image: "\e92d";
$cd-ic-left-circle: "\e92e";
$cd-ic-left-square: "\e92f";
$cd-ic-location: "\e930";
$cd-ic-locked: "\e931";
$cd-ic-login: "\e932";
$cd-ic-logout: "\e933";
$cd-ic-menu: "\e934";
$cd-ic-message: "\e935";
$cd-ic-microphone-lines: "\e936";
$cd-ic-microphone: "\e937";
$cd-ic-more-circle: "\e938";
$cd-ic-more-square: "\e939";
$cd-ic-paper-download: "\e93a";
$cd-ic-paper-minus: "\e93b";
$cd-ic-paper-plane: "\e93c";
$cd-ic-paper-plus: "\e93d";
$cd-ic-paper-upload: "\e93e";
$cd-ic-paper-x: "\e93f";
$cd-ic-paper: "\e940";
$cd-ic-password-key: "\e941";
$cd-ic-phone: "\e942";
$cd-ic-photo-camera: "\e943";
$cd-ic-play: "\e944";
$cd-ic-plus: "\e945";
$cd-ic-pointer-down: "\e946";
$cd-ic-pointer-left: "\e947";
$cd-ic-pointer-right: "\e948";
$cd-ic-pointer-up: "\e949";
$cd-ic-right-circle: "\e94a";
$cd-ic-right-square: "\e94b";
$cd-ic-scan: "\e94c";
$cd-ic-search: "\e94d";
$cd-ic-settings-1: "\e94e";
$cd-ic-settings: "\e94f";
$cd-ic-show: "\e950";
$cd-ic-star: "\e951";
$cd-ic-swap: "\e952";
$cd-ic-time-circle: "\e953";
$cd-ic-time-square: "\e954";
$cd-ic-times-chield: "\e955";
$cd-ic-trash: "\e956";
$cd-ic-unlocked: "\e957";
$cd-ic-up-circle: "\e958";
$cd-ic-up-square: "\e959";
$cd-ic-upload: "\e95a";
$cd-ic-user-group: "\e95b";
$cd-ic-user: "\e95c";
$cd-ic-users: "\e95d";
$cd-ic-video-camera: "\e95e";
$cd-ic-wallet: "\e95f";

